* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 10px 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 7px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-app h4{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;  
    size: 5px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding: auto auto;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 8px 8px 8px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-image: url(images/i.png);
    background-size: cover;
    background-position: center;
    top: 20px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through; 
}

ul li.checked::before{
    background-image:url(images/k.webp);
}

ul li span{
    position: realtive;
    margin-left: auto;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}



















